// Variables
$deep-red: #6b0d0d;
$creamy-white: #f5f5f5;
$dark-brown: #321414;
$gold: #ffd700;
$dark-green: #215732;

// Color Scheme
$primary-color: $deep-red;
$secondary-color: $creamy-white;
$accent-color: $gold;
$dark-color: $dark-brown;
$highlight-color: $dark-green;

// Font sizes
$font-size-sm: 0.875rem; // Small font size
$font-size-md: 1rem; // Medium font size
$font-size-lg: 1.25rem; // Large font size

// Font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

// Max widths
$max-width-regular: 12.5rem; // Regular max width
$max-width-wide: 37.5rem; // Wide max width

// Margins
$margin-bottom-sm: 1.25rem; // Small bottom margin
$margin-bottom-md: 1.5rem; // Medium bottom margin
$margin-bottom-lg: 2.5rem; // Large bottom margin

// Heights
$height-matching-wines: 7.5rem; // Height of matching wines container