// Variables
$deep-red: #6b0d0d;
$creamy-white: #f5f5f5;
$dark-brown: #321414;
$gold: #ffd700;
$dark-green: #215732;

// Color Scheme
$primary-color: $deep-red;
$secondary-color: $creamy-white;
$accent-color: $gold;
$dark-color: $dark-brown;
$highlight-color: $dark-green;