@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;



.hero__video {
    display: none;

    @include tablet {
        display: flex;
        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 50%;
        object-fit: cover;




        & video {
            object-fit: cover;
            width: 100vw;
            height: 75vh;


        }
    }

}

.hero__img {
    display: flex;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    opacity: 80%;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/marcel-gross-marcelgross-ch-sHTwDYKti6Q-unsplash.jpg");
    height: 75vh;
    width: 100vw;

    @include tablet {
        display: none;
    }
}

main {
    display: flex;
    justify-content: center;
    margin: 40px;

    & .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;

        @include tablet {
            text-align: left;
            width: 80vw;
        }

        @include desktop {
            width: 60vw;
            text-align: left;
            text-wrap: pretty;
            // flex-direction: row;

        }

    }

    p {
        margin: 20px;
        font-size: medium;
        line-height: 30px;
        color: white;

        @include tablet {
            font-size: large;
        }

        @include desktop {
            font-size: 28px;
        }

    }

}

.bottom__header {
    margin: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;

    & .button {
        display: flex;
        justify-content: center;

    }

    & button {

        color: white;
        text-align: center;
        font-weight: bold;
        background-color: rgb(59, 1, 59);
        border: 0 none;
        border-radius: 70px;
        cursor: pointer;
        padding: 15px 20px;
        margin-bottom: 10px;
        font-size: x-large;

        @include desktop {
            padding: 30px 40px;
            margin-bottom: 20px;
            font-size: xx-large;
        }
    }
}