@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;



.hero__video {
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    opacity: 50%;
    object-fit: cover;


    & video {
        object-fit: cover;
        width: 100vw;
        height: 75vh;

    }
}

main {
    display: flex;
    justify-content: center;
    margin: 40px;

    // @include tablet {
    //     flex-direction: row;
    // }

    & .info {
        text-align: center;
        white-space: pre-wrap;
        word-wrap: break-word;

    }

    p {
        margin: 20px;
        font-size: x-large;
        line-height: 35px;
        color: white;

    }

}

.bottom__header {
    margin: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;

    & .button {
        display: flex;
        justify-content: center;

    }

    & button {
        &:hover {
            cursor: pointer;
        }

        margin: 20px;
        padding: 20px;
        font-size: 30px;
        border-radius: 30px;
        background-color: black;
        text-decoration: none;
        color: white;

    }
}