@use '../../styles/partials/_mixins.scss';
@use '../../styles/partials/_variables.scss';

header {

    .navbar {
        display: flex;
        justify-content: space-around;
        align-self: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 9999;



        & a {
            text-decoration: none;
            color: white;


            & p {
                font-size: 20px;
                font-weight: bold;
            }

        }


    }
}