.submit_button {
    display: flex;
    background-color: rgb(59, 1, 59);
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;

    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }

}