.form {
    display: flex;
    margin: 4% 10%;
    width: 60vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    flex-direction: column;

    & .form-container {
        display: flex;
        // justify-content: center;
        // align-self: center;
        align-items: center;
        margin: 80px;
        width: 60vw;
        height: 70vh;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        flex-direction: column;


        & select {
            font-size: large;
            margin: 20px 0;
        }

        & input {
            font-size: large;
            margin: 20px 0;
        }




        li {
            text-transform: capitalize;
        }

        @keyframes typing {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }
    }

}


.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    /* Ensures the text doesn't wrap */
}

.typing {
    animation: typing 3s steps(40, end);
}

.props__container {
    display: none;
}


.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
}

.form-container .selection__buttons {
    border-radius: 7px;
    background-color: black;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: large;
}

.pairings--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & ul {
        padding: 0;
        margin-right: 20px;
    }

    & h2 {
        text-align: left;
    }
}

.selection__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    gap: 20px;

    & .selection__cards--wine {
        height: 500px;
        width: 500px;
        background-image: url(../../assets/images/pexels-arthur-brognoli-2440525.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

        &:hover {
            cursor: pointer;
        }

        & p {
            color: white;

            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    & .selection__cards--food {
        height: 500px;
        width: 500px;
        background-image: url(../../assets/images/david-emrich-_sob5Ufm4JY-unsplash.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

        &:hover {
            cursor: pointer;
        }

        & p {
            color: white;
            background-color: rgba(0, 0, 0, 0.4);

        }
    }
}