@use './styles/partials/global' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;
@use "./styles/partials/typography" as *;


body {
  display: flex;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $dark-color;


  background-color: #540804;
  width: 100%;

  & main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90vw;


  }

  & .hero {
    background-color: rgba(27, 12, 12, 1);
  }

}